@import "abstracts/variables";
@import "abstracts/mixins";

.business-figures-section {
  padding: 6rem 0;
  background-color: $secondary-background-color-dark;
}

.business-figure-blocks-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;

  @include media-breakpoint-up("md") {
    gap: 6rem;
  }
}
