<div class="business-figures-section">
  <div class="container">
    <div class="business-figure-blocks-container">
      <portfolio-business-figure-block
        [count]="1350000"
        subtitle="Interaktionen"
        note="in den letzten 14 Tagen auf Instagram"
      ></portfolio-business-figure-block>
      <portfolio-business-figure-block
        [count]="18800000"
        subtitle="Impressionen"
        note="in den letzten 14 Tagen auf Instagram"
      ></portfolio-business-figure-block>
      <portfolio-business-figure-block
        [count]="320000"
        subtitle="Follower"
        note="insgesamt auf Instagram"
      ></portfolio-business-figure-block>
    </div>
  </div>
</div>
