// Colors
$primary-font-color-light: #f2f1f4;
$primary-font-color-dark: #f2f1f4;
$secondary-font-color-light: #d6d5dd;
$secondary-font-color-dark: #d6d5dd;
$primary-accent-color-start: #ffa552;
$primary-accent-color-stop: #ff614d;
$primary-accent-color: linear-gradient(
  90deg,
  $primary-accent-color-start,
  $primary-accent-color-stop
);
$button-hover-filter: brightness(0.8);
$button-disabled-filter: saturate(0.3) brightness(0.7);
$secondary-accent-color: #9997ff;
$primary-background-color-light: #1d1d2b;
$primary-background-color-dark: #1d1d2b;
$secondary-background-color-light: #232334;
$secondary-background-color-dark: #232334;
$overlay-color: #000000b3;
$muted-color: #c4c4c4;
$form-control-background-color: #2f3046;
$form-control-placeholder-color: #757575;
$success-color: #66cc66;
$info-color: #6666cc;
$warn-color: #cccc66;
$error-color: #cc6666;

// Bootstrap breakpoints
$grid-breakpoints: (
  "xs": 0,
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
  "xxl": 1400px,
);

$container-widths: (
  "xs": 100%,
  "sm": 540px,
  "md": 720px,
  "lg": 960px,
  "xl": 1140px,
  "xxl": 1320px,
);

// Bootstrap grid
$container-horizontal-padding-xs: 0.75rem;

// Font-families
$primary-font-light: "NotoSans-Light";
$primary-font-regular: "NotoSans-Regular";
$primary-font-bold: "NotoSans-Bold";

$secondary-font-light: "Nunito-Light";
$secondary-font-regular: "Nunito-Regular";
$secondary-font-bold: "Nunito-Bold";

// Misc
$default-border-radius: 12px;
$default-button-hitbox: 0.5rem;
$default-box-shadow-spread: 4px;
$default-box-shadow: 0 4px $default-box-shadow-spread 0 #00000040;
$default-header-height: 64px;
$default-vertical-section-padding: 5rem;

// Transitions
$default-transition-duration: 0.25s;
$default-transition-timing-function: ease-in-out;
