<header class="header">
  <div class="container">
    <a routerLink="/">
      <svg
        width="100%"
        height="100%"
        viewBox="0 0 474 470"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        xml:space="preserve"
        xmlns:serif="http://www.serif.com/"
        style="
          fill-rule: evenodd;
          clip-rule: evenodd;
          stroke-linejoin: round;
          stroke-miterlimit: 2;
        "
        class="header__portfolio-logo"
      >
        <g transform="matrix(1,0,0,1,-813.483,-252.013)">
          <path
            d="M1018.24,252.013L1018.24,721.456C902.662,705.745 813.483,606.572 813.483,486.734C813.483,366.897 902.662,267.724 1018.24,252.013ZM1082.51,252.013C1198.08,267.724 1287.26,366.897 1287.26,486.734L1082.51,486.734L1082.51,252.013Z"
            style="fill: url(#_Linear1)"
          />
        </g>
        <defs>
          <linearGradient
            id="_Linear1"
            x1="0"
            y1="0"
            x2="1"
            y2="0"
            gradientUnits="userSpaceOnUse"
            gradientTransform="matrix(473.774,0,0,225.567,813.483,486.734)"
          >
            <stop
              offset="0"
              style="stop-color: rgb(255, 165, 82); stop-opacity: 1"
            />
            <stop
              offset="1"
              style="stop-color: rgb(255, 97, 77); stop-opacity: 1"
            />
          </linearGradient>
        </defs>
      </svg>
    </a>
    <button
      class="button button--primary-accent-inverted"
      (click)="onClickLogOutButton()"
    >
      <svg
        class="button__icon button__icon--primary-accent"
        width="24"
        height="20"
        viewBox="0 0 24 20"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M16 7V3L24 10L16 17V13H8V7H16ZM14 17V16.917C12.822 17.602 11.458 18 10 18C5.589 18 2 14.411 2 10C2 5.589 5.589 2 10 2C11.458 2 12.822 2.398 14 3.083V0.838C12.774 0.302 11.423 0 10 0C4.478 0 0 4.477 0 10C0 15.523 4.478 20 10 20C11.423 20 12.774 19.698 14 19.162V17Z"
          fill="url(#paint0_linear_136_1835)"
        />
        <defs>
          <linearGradient
            id="paint0_linear_136_1835"
            x1="0"
            y1="10"
            x2="24"
            y2="10"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#ffa552" />
            <stop offset="1" stop-color="#ff614d" />
          </linearGradient>
        </defs>
      </svg>
      <p class="button__label button__label--primary-accent">Ausloggen</p>
    </button>
  </div>
</header>
