@import "abstracts/mixins";
@import "abstracts/variables";

.fade-in {
  opacity: 0;
  @include with-transition(opacity, 0.5s);

  &--visible {
    opacity: 1;
  }
}

body {
  background-color: $primary-background-color-dark;
}
