@import "abstracts/mixins";
@import "abstracts/variables";

.fade-in {
  opacity: 0;
  @include with-transition(opacity, 0.5s);

  &--visible {
    opacity: 1;
  }
}

body {
  background-color: $primary-background-color-dark;
}

// Has to be global because the class is set in a string rather than in the template
.moveup-media-link {
  font-family: $secondary-font-bold;
  color: $primary-font-color-dark;
  text-decoration: underline;
}
