<footer class="section footer">
  <div class="container">
    <div class="footer__links-container">
      <a href="/impressum" class="footer__link" i18n> Impressum </a>
      <a href="/data-privacy" class="footer__link" i18n> Datenschutz </a>
    </div>
    <div class="footer__icons-container">
      <a routerLink="/">
        <svg
          width="39"
          height="39"
          viewBox="0 0 474 470"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          xml:space="preserve"
          xmlns:serif="http://www.serif.com/"
          style="
            fill-rule: evenodd;
            clip-rule: evenodd;
            stroke-linejoin: round;
            stroke-miterlimit: 2;
          "
        >
          <g transform="matrix(1,0,0,1,-813.483,-252.013)">
            <path
              d="M1018.24,252.013L1018.24,721.456C902.662,705.745 813.483,606.572 813.483,486.734C813.483,366.897 902.662,267.724 1018.24,252.013ZM1082.51,252.013C1198.08,267.724 1287.26,366.897 1287.26,486.734L1082.51,486.734L1082.51,252.013Z"
              style="fill: white"
            />
          </g>
        </svg>
      </a>
      <shared-social-media-channels
        instagramUrl="https://www.instagram.com/carsplus.de/"
        tikTokUrl="https://www.tiktok.com/@tomke_nils"
        youtubeUrl="https://www.youtube.com/channel/UC4kHIUYVVqhfcMoTZTUAGpw"
        [iconsColor]="SocialMediaIconsColor.LIGHT"
      ></shared-social-media-channels>
    </div>
    <div class="footer__contact-information-container">
      <a href="mailto:contact@carsplus-portfolio.de" class="footer__link">
        contact@carsplus-portfolio.de
      </a>
    </div>
  </div>
  <p class="footer__author-note" i18n>
    Schau bei unserer Agentur
    <a
      href="https://moveupmedia.de/"
      target="_blank"
      class="footer__jonas-wolfram-link"
    >
      moveUP Media
    </a>
    vorbei!
  </p>
</footer>
